<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %> </h1>    
    <br>
    <p>RATING: <%= rating %> </p>
    <p>AWARDS: <%= awards %> </p>
    <p>LENGTH: <%= length + ' min'%> </p>
    <p>RELEASE DATE: <%= moment(release_date).format('DD/MM/YYYY') %> </p>
    <br>
    <section>
        <!--Aquí debe colocar los botones de Modificar - Borrar y Listado de Películas-->
        <div class="col-12">
            <div class="d-flex justify-content-end" >
                <a href="/movies/edit/<%= id %>">Editar</a>
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex justify-content-end" >
                <a href="/movies/edit/<%= id %>">Borrar</a>
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex justify-content-end" >
                <a href="/movies">Listado Peliculas</a>
            </div>
        </div>
    </section>

</body>
</html>